body {
  margin: 0;
  cursor: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15vh;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 7vh;
}

h3 {
  font-size: 5vh;
}
